<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<h1>Here are the courses:</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Language</th>
        </tr>
        <tr>
            <td>Spring Boot Security</td>
            <td>Amigos Code</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>Spring Boot D. Injection</td>
            <td>Telusko</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>Hibernate Full</td>
            <td>Telusko</td>
            <td>Java, SQL</td>
        </tr>
        <tr>
            <td>Spring Boot Data Rest</td>
            <td>Telusko</td>
            <td>Java, H2</td>
        </tr>
        <tr>
            <td>Java 8 Lambda</td>
            <td>Java Guide</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>Docker Full</td>
            <td>Edureka</td>
            <td>Bash</td>
        </tr>
    </table><br/>
    <form class="center" method="GET" action="/logout">
        <button style="background-color:blue;color:white;padding:1% 3%" type="submit" id="button_logout">Log out</button>
    </form>
</body>
</html>